body {
    text-align: center;
}
header {
    text-align: center;
}
header ul {
    gap: 10vh;
    justify-content: center;
    display: flex;
    list-style: none;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10vh;
}

footer {
    margin-bottom: 0;
}

.titre_connexion {
    color: rebeccapurple;
}


/*------------Style css de la page connexion ---------------*/
main{
    height: 800px;
    background-color: darkkhaki;
}
body{
    background-color: darkkhaki;
}
.com{
    margin-top: 2%;
  
}
.com_index {
  
    display:flex;
    height: auto;
    width: auto;
    margin-top: 2%;
    border: solid 1px black;
    margin-right: 15%;
    margin-left: 15%;
    
}
/*------------Style css de la page articles---------------*/

.href_articles {
    text-decoration: none;
    color: black;
}
.presentation_articles {
    margin: auto;
    width: 30%;
    background: rgba(255, 255, 255, 0.377);
}

.presentation_articles:hover {
    transition: .2s ease-out;
    width: 32%;
    background: rgba(255, 255, 255, 0.404);
    box-shadow: 7px 7px 3px 1px rgba(0, 0, 0, 0.281);
}