/* body {
    text-align: center;
}
header {
    text-align: center;
}
header ul {
    gap: 10vh;
    justify-content: center;
    display: flex;
    list-style: none;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10vh;
}

footer {
    margin-bottom: 0;
}

.titre_connexion {
    color: rebeccapurple;
    jaune #efa32f
Orange #ea6c3a
rose #d93356
violet #843482
} */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-image: url(../img/beblog_background01.png);
    color: white;
    --orange: #ea6c3a;
    --jaune: #efa32f;
    --rose: #d93356;
    --violet: #843482;
    --full_degrade: linear-gradient(to top left,#efa32f,#ea6c3a,#d93356,#843482);
}
/**DEBUT HEADER*/
.navbar_header{
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.700);
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    position: fixed;
}
.primo_div_header{
    padding: .9375rem;
    display: flex;
    align-items: center;
}
.primo_div_header form button{
    border: none;
    color: #efa32f;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
}
.primo_div_header h3{
    color: #efa32f;
    margin-right: 1.875rem;
    text-transform: capitalize;
    font-size: 1.8rem;
}
.primo_div_header form button i{
    font-size: 2rem;
}
.logo_navabar_header{
    height: 7vh;
    min-height: 40px;
}

.icon_user_header img{
    height: 7vh;
    width: 7vh;
    border-radius: 5vh;
}
/** BOUTON connexion et inscription*/
.connect{
    display: flex;
    align-items: center;
}
.button_connexion_header{
    height: 2rem;
    width: 6rem;
    border-radius: 6px;
    background: linear-gradient(#efa32f,#ea6c3a);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.33);
    transition: 0.3s;
}
.button_connexion_header:hover{
    background: linear-gradient(#363636,#272727);
    color: #efa32f;
    border: #efa32f solid 0.3px;
}
.a_inscription_header{
    color: #efa32f;
}
.a_connexion_header{
    text-decoration: none;
    color: black;
}
/** BARRE VERTICAL SMALL*/
.small_nav_verticale_header{
    height: 80vh;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.700);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 10vh;
}
.small_nav_verticale_header a{
    text-decoration: none;
    color: #efa32f;
    font-size: 1.5rem;
    transition: 0.5s;
}
.small_nav_verticale_header a:hover{
    color: white;
}
.section_form_navbar_vert_header{
    align-self: flex-end;
    justify-items: flex-end;
}
.small_nav_verticale_header form button{
    border: none;
    color: #efa32f;
    margin-bottom: .7rem;
    background-color: rgba(255, 0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}
.small_nav_verticale_header form button:hover{
    color: white;
}
.cesure_navbar_vertical_header{
    border-top: solid 1px #efa32f;
    margin: .625rem 0rem .625rem 0rem;
}
.small_nav_verticale_header a .large_a{
    display: none;
}
.large_nav_verticale_header a .smal_a{
    display: none;
}
/** BARRE VERTICAL large*/
.large_nav_verticale_header{
    height: 80vh;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.700);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 10vh;
}
.large_nav_verticale_header a{
    text-decoration: none;
    color: #efa32f;
    font-size: 1rem;
    transition: 0.5s;
}
.large_nav_verticale_header a:hover{
    color: white;
}
.section_form_navbar_vert_header{
    align-self: flex-end;
    justify-items: flex-end;
}
.large_nav_verticale_header form button{
    border: none;
    color: #efa32f;
    margin-bottom: .7rem;
    background-color: rgba(255, 0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}
.large_nav_verticale_header form button:hover{
    color: white;
}
.cesure_navbar_vertical_header{
    border-top: solid 1px #efa32f;
    margin: .625rem 0rem .625rem 0rem;
}
.all_a_nav_vertical_header{
    margin-top: 1.875rem;
}
/**FIN HEADER*/
/** FOOTER*/
.navbar_footer{
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.700);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.33);
}
.navbar_footer a{
    color: #efa32f;
    text-decoration: none;
}
.cesure_navbar_footer{
    margin: 1.875rem;
    height: 2.8125rem;
    border-left: solid 1px #efa32f;
}
/** FIN FOOTER*/
/** MAIN MODEL*/
.main_center_section_all{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*------------Style css de la page articles ---------------*/
.section_articles {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10rem ;
    padding-right: 10rem ;
}

/*------------Style css de la page article ---------------*/
.section_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    height: 80vh;
    padding-left: 10rem ;
    padding-right: 10rem ;
    overflow: auto;
}

/* ----------------------- Page Catégorie-----------------*/
.content_all_cats_categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
.content_all_cats_categories a{
    text-decoration: none;
    color: white;
    width: 18rem;
    margin: 1.875rem;
    border-radius: 8px;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.33);
    transition: 0.7s;
}
.jaune_a_background_categories{
    background: linear-gradient(#efa32f,#ea6c3a);
}
.orange_a_background_categories{
    background: linear-gradient(#ea6c3a,#d93356);
}
.violet_a_background_categories{
    background: linear-gradient(#d93356,#843482);
}
.content_all_cats_categories a:hover{
    filter: contrast(120%);
    filter: brightness(1.2);
    border: #ffffff solid 1px;

}
.content_all_cats_categories a:hover img{
    width: 120%;
}
.content_img_categories{
    width: 100%;
    height: 28rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_img_categories img{
    width: 100%;
    height: auto;
    transition: 4s;
}
.head_selesct_categories{
    display: flex;
    width: 100%;
    padding: .3125rem;
    justify-content: flex-start;
    align-items: center;
}
.head_selesct_categories i{
    margin: .625rem;
}
.footer_select_cotegories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .4375rem;
}
.footer_select_cotegories h4{
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}
.footer_select_cotegories p{
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    text-align: center;
}
/** PAGE PROFIL**/
#body_profil table{
    background-color: #535353;
}
.section_article_profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    height: 80vh;
    padding-left: 10rem ;
    padding-right: 10rem ;
    overflow: auto;
}
/** POPUP MDP**/
#popup_password{
    position: absolute;
    z-index: 99;
    color :#535353;
    backdrop-filter: blur(7px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.418);
}
.popup_password_content{
    padding: 1.875rem;
    background-color: #ffffff;
    box-shadow: 5px 0px 30px 1px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
}
#input_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#input_bottom a{
    background-color: #b3b3b3;
    color: #535353;
    width: 40% !important;
    height: 1.9rem;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#input_bottom input{
    background-color: #212b53;
    color: #ffffff;
    width: 40% !important;
}
#input_bottom input:hover{
    background-color: #01898c;
}
/** BARRE D'INFO**/
.info_update{
    position: absolute;
    bottom: 10.3vh;
    right: 1.875rem;
    background: var(--full_degrade);
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 5px 0px 30px 1px rgba(0, 0, 0, 0.308);
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
    opacity: 1;
    animation: disparition 1s ease-in 3s  forwards;
}
@keyframes disparition {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.info_update img{
    width: 4rem;
    height: 4rem;
    margin-right: 1.25rem;
}
.info_update p{
    color :#ffffff;
    text-shadow: 0px 0px 1px 2px #000000;
}

/*--------------------------------PAGE ADMIN---------------------------------*/

.conteneur_infos_admin {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 20vh;
}

.nbr_articles_admin {
    background-color: #ea6c3a;
    border-radius: 7px;
    padding-top: -2vh;
    padding-left: 7vh;
    padding-right: 7vh;
}

.nbr_users_admin {
    background-color: #d93356;
    border-radius: 7px;
    padding-top: -2vh;
    padding-left: 7vh;
    padding-right: 7vh;
}

.nbr_cat_admin {
    background-color: #843482;
    border-radius: 7px;
    padding-top: -2vh;
    padding-left: 7vh;
    padding-right: 7vh;
}

.conteneur_infos_admin h3 {
    font-size: 5vh;
}

.conteneur_infos_admin i {
    font-size: 10vh;
}

.conteneur_infos_admin p {
    font-size: 4vh;
    font-weight: bold;
}

.all_articles_admin_table {
    margin-top: 5vh;
    border-collapse: collapse;
    margin-left: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(100, 100, 100, 0.308);
}


.all_articles_admin_table thead tr {
    background-color: #efa32f;
    color: black;
}

.all_articles_admin_table th, td {
    padding: 12px 15px;
}

.all_articles_admin_table tbody tr {
    border-bottom: 0.3px solid #aaaaaa9c;
}

.all_articles_admin_table tbody tr:hover {
    background-color: rgba(31, 31, 31, 0.438);
}

.all_articles_admin_table tbody tr:nth-child(even){
    background-color: rgba(100, 100, 100, 0.308);
}

.all_articles_admin_table tbody tr:nth-child(even):hover{
    background-color: rgba(31, 31, 31, 0.438);
}

.form_articles_admin {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    
} 

.form_articles_admin input, textarea {
    text-align: center;
    margin: auto;
    margin-bottom: 2vh;
} 

.form_articles_admin textarea {
    width: 40%;
}

.input_admin {
    width: 30%;
}

.input_admin_id {
    width: 4%;
}

.form_articles_admin button {
    margin: auto;
    width: 10%;
} 

/* -----------------formulaire----------------------------- */
.form_inscription{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form_inscription input,.form_inscription textarea{
    margin-top: 5%;
}

/* -------------------accueil------------------------------- */
.section_accueil,.section_accueil2{
    display: inline-flex;
}

.global_accueil{
   margin-left: 2%;
   border: 2px solid #ea6c3a ;
}
.titre_accueil{
    background-color: #d93356;
}
.global_accueil p{
    text-align: center;
 }
 .global_accueil ,.footer_affiche_accueil {
    text-align: center;
 }
 .content_img_categoriese img{
    width: 24rem ;
    height: 28rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }